## Hands-on - Python ReCap 1

In [1]:
# 1. Import necessary libraries
import pandas as pd  # pandas is used for handling tabular datasets (dataframes) and performing operations such as reading CSV files
import numpy as np  # numpy is used for numerical computations such as working with arrays and applying mathematical operations

# 2. Load dataset from GitHub URL
file_path = "https://raw.githubusercontent.com/Hamed-Ahmadinia/DASP-2025/main/adult.data.csv"  # URL link to the dataset stored on GitHub

# 3. Read the dataset into a pandas dataframe
df = pd.read_csv(file_path, header=0)  # header=0 means the first row in the CSV is used as column names

# 4. Display the first few rows of the dataframe to confirm the data has been loaded correctly
print("Dataset Preview:")  # Print a label for context
print(df.head(5))  # Display the first 5 rows of the dataset

Dataset Preview:
   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

### **Exercise 1: Common Python Operations**
**Question:** Print the sum of the first row's `age` and `hours-per-week`.

In [3]:
age_plus_hpw = df['age'].iloc[0]+df['hours-per-week'].iloc[0]
print("Sum of age and hours-per-week:",age_plus_hpw)

Sum of age and hours-per-week: 79

### **Exercise 2: String Manipulation**
**Question:** Convert the first `workclass` entry to lowercase and strip any leading or trailing spaces.

In [4]:

to_lowercase=df['workclass'].iloc[0]
print("Workclass in lowercase:",to_lowercase.lower())
print("Workclass after strip:",to_lowercase.strip())

Workclass in lowercase: state-gov
Workclass after strip: State-gov

### **Exercise 3: Lists in Python**
**Question:** Create a list of the unique values in the `education` column and print its length.

In [11]:
education_list=df['education'].tolist()
unique_list=list(set(education_list))
uniquelist_with_length=len(unique_list)
print("List of unique education and its length:",uniquelist_with_length)

List of unique education and its length: 16

### **Exercise 4: Sets in Python**
**Question:** Check if the value "Self-employed" exists in the unique set of `workclass` values.

In [23]:
unique_workclass=set(df['workclass'].dropna())
print(unique_workclass)
if "Self-employed" in unique_workclass:
    print(unique_workclass)
else:
    print("Not included")

{'?', 'Private', 'Federal-gov', 'State-gov', 'Self-emp-not-inc', 'Without-pay', 'Self-emp-inc', 'Local-gov', 'Never-worked'}
Not included

### **Exercise 5: Dictionaries in Python**
**Question:** Create a dictionary from the first row's data. Print the `occupation` value from the dictionary.

In [24]:
first_row = df.iloc[0].to_dict()
print("Occupation:",first_row["occupation"])

Occupation: Adm-clerical

### **Exercise 6: Conditional Statements in Python**
**Question:** Write a function that returns "Minor" if the age is less than 18, "Adult" if between 18 and 65, and "Senior" if greater than 65. Test it on the first row's `age`.

In [26]:
age = df['age'].iloc[0]
print(age)
if age<18:
    print("You are Minor")
elif age>65:
    print("You are Senior")
else:
    print("You are an adult")

39
You are an adult

### **Exercise 7: For Loops**
**Question:** Iterate through the first 5 rows of `workclass` and print each entry.

In [28]:
for workclass in df['workclass'].head(5):
    print(workclass)

State-gov
Self-emp-not-inc
Private
Private
Private

### **Exercise 8: Functions**
**Question:** Define a function `sum_columns` that takes two column names and an index, sums the values of the specified columns at the given index, and returns the result. Test it with `age` and `hours-per-week` at the first row.

In [42]:
def sum_columns(df, col1, col2, index):
    return df.at[index, col1] + df.at[index, col2]

col1 = 'age'
col2 = 'hours-per-week'

value = sum_columns(df, col1, col2, 0)
print("Sum of", col1, "and", col2, "is", value)

Sum of age and hours-per-week is 79

### **Exercise 9: File Handling**
**Question:** Save the first 10 rows of the dataframe to `output.csv` and read it back. Print the first 2 rows from the loaded CSV.

In [35]:
sample_df = df.head(10)
sample_df.to_csv("sample_output.csv", index=False)


# Read the saved CSV
read_sample = pd.read_csv("sample_output.csv")
print("First 2 rows from saved CSV:")

sample_read = df.head(2)
print(sample_read)

First 2 rows from saved CSV:
   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13

       marital-status       occupation   relationship   race   sex  \
0       Never-married     Adm-clerical  Not-in-family  White  Male
1  Married-civ-spouse  Exec-managerial        Husband  White  Male

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K

### **Exercise 10: Debugging in Python**
**Question:** Write a try/except block to handle a `KeyError` when accessing a non-existent column `"salary"`. Print an appropriate error message when caught.

In [43]:
try:
    print(df['salary'])
except KeyError:
    print("Error: Salary doesn't exist!")
finally:
    print("Done checking!")

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
32556    <=50K
32557     >50K
32558    <=50K
32559    <=50K
32560     >50K
Name: salary, Length: 32561, dtype: object
Done checking!